<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcSZFXJz1J4eCe6C5acGC2Xug04YPv-PA</string>
	<key>GCM_SENDER_ID</key>
	<string>533383151342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled6.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aqsa-a7c27</string>
	<key>STORAGE_BUCKET</key>
	<string>aqsa-a7c27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533383151342:ios:038dad9ad8cab785877dff</string>
</dict>
</plist>